
<div class="">
  <div class="row titleheader">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
     <div class="title">Aegean Skates</div>
    </div>

    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <ul class="nav nav-pills">
            <li role="presentation"><a href="#">Boards</a></li>
            <li role="presentation"><a href="#">Accessories</a></li>
            <li role="presentation"><a href="#">Community</a></li>
            <li role="presentation"><a href="#">Support</a></li>
            <li role="presentation"><a href="#">Sales</a></li>

        </ul>
    </div>

  </div>
  <div class="row content">
      <img src="../assets/skate.JPG">
      <div class="overlayText">
          We Skate
        </div>
  </div>


</div>
